<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="cryptoEnvironmentConfiguration" type="LivelinkConfigurationManager.CryptoEnvironmentConfiguration, LivelinkConfigurationManager" />
  </configSections>
  <cryptoEnvironmentConfiguration currentEnvironment="DEV">
    <environments>
      <add name="PRD" passPhrase="1pLbu1ld1ngH3arTl@nd" saltValue="92746382" />
      <add name="TST" passPhrase="1pLbu1ld1ngH3arTl@nd" saltValue="92746382" />
      <add name="DEV" passPhrase="1pLbu1ld1ngH3arTl@nd" saltValue="92746382" />
    </environments>
  </cryptoEnvironmentConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false" />
  </runtime>
  <appSettings>
    <add key="environment" value="DEV" />
    <!-- DEV-->    
    <add key="DEV-contentserver-url" value="recordshubdev" />
    <add key="DEV-admin-username" value="Admin" />
    <add key="DEV-admin-password" value="TgVZ/XU0Mw+5On1bIhlrxA==" />
    <!-- <add key="DEV-mssql-database-servername" value="IPLC-TPIN-W\SQLEXPRESS" /> -->
    <add key="DEV-mssql-database-servername" value="localhost\SQLEXPRESS" />
    <add key="DEV-mssql-database-databasename" value="MigrationDB" />
    <add key="DEV-mssql-database-username" value="sa" />
    <add key="DEV-mssql-database-password" value="baPlFBeLYtJlXSYrTKQ1FQ==" />
    <add key="DEV-oracle-database-hostname" value="" />
    <add key="DEV-oracle-database-port" value="1521" />
    <add key="DEV-oracle-database-servicename" value="" />
    <add key="DEV-oracle-database-username" value="" />
    <add key="DEV-oracle-database-password" value="" />
    <!-- TST -->        
    <add key="TST-contentserver-url" value="recordshubdev" />
    <add key="TST-admin-username" value="Admin" />
    <add key="TST-admin-password" value="TgVZ/XU0Mw+5On1bIhlrxA==" />
    <!-- <add key="TST-mssql-database-servername" value="IPLC-TPIN-W\SQLEXPRESS" /> -->
    <add key="TST-mssql-database-servername" value="localhost\SQLEXPRESS" />
    <add key="TST-mssql-database-databasename" value="MigrationDB" />
    <add key="TST-mssql-database-username" value="sa" />
    <add key="TST-mssql-database-password" value="baPlFBeLYtJlXSYrTKQ1FQ==" />
    <add key="TST-oracle-database-hostname" value="" />
    <add key="TST-oracle-database-port" value="1521" />
    <add key="TST-oracle-database-servicename" value="" />
    <add key="TST-oracle-database-username" value="" />
    <add key="TST-oracle-database-password" value="" />
    <!-- PRD -->        
    <add key="PRD-contentserver-url" value="recordshubdev" />
    <add key="PRD-admin-username" value="Admin" />
    <add key="PRD-admin-password" value="TgVZ/XU0Mw+5On1bIhlrxA==" />
    <!-- <add key="PRD-mssql-database-servername" value="IPLC-TPIN-W\SQLEXPRESS" /> -->
    <add key="PRD-mssql-database-servername" value="localhost\SQLEXPRESS" />
    <add key="PRD-mssql-database-databasename" value="MigrationDB" />
    <add key="PRD-mssql-database-username" value="sa" />
    <add key="PRD-mssql-database-password" value="baPlFBeLYtJlXSYrTKQ1FQ==" />
    <add key="PRD-oracle-database-hostname" value="" />
    <add key="PRD-oracle-database-port" value="1521" />
    <add key="PRD-oracle-database-servicename" value="" />
    <add key="PRD-oracle-database-username" value="" />
    <add key="PRD-oracle-database-password" value="" />
  </appSettings>
</configuration>