<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="debugFile" xsi:type="File" fileName="${basedir}/logs/${date:format=yyyy-MM-dd}_debug_log.txt" layout="${longdate} ${message} ${exception:format=tostring}" />
    <target name="infoFile" xsi:type="File" fileName="${basedir}/logs/${date:format=yyyy-MM-dd}_info_log.txt" layout="${message}" />
    <target name="errorFile" xsi:type="File" fileName="${basedir}/logs/${date:format=yyyy-MM-dd}_error_log.txt" layout="${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="debugFile" />
    <logger name="*" level="Info" writeTo="infoFile" />
    <logger name="*" level="Error" writeTo="errorFile" />
  </rules>
</nlog>